@use "mixins" as *;

.MuiDrawer-root .MuiDrawer-paperAnchorRight {
  background: linear-gradient(180deg, var(--color-background) 80px, var(--color-background-secondary) 200px);
  overflow: visible;

  .lightScrollbar {
    padding: 0;
  }
}

.rendbg {
  @include background();
  background: linear-gradient(180deg, var(--color-background) 80px, var(--color-background-secondary) 200px);
}

.kosar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  min-height: calc(100% - 85px);
  margin-top: 85px;
  padding: 30px;
  
  @media screen and (min-width: 450px) {
    width: 400px;
    padding: 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 450px;
  }
  @media screen and (min-width: 1600px) {
    width: 550px;
    padding: 40px 50px;
  }

  .uppercase {
    font-size: 22px;

    @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
    @media screen and (min-width: 1600px) {
      font-size: 32px;
    }
  }
}

.kosarWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 40px 0;
}

img.kosarEmptyArt  {
  margin: auto 0 40px auto;
}


.kosar-termek {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

  .imgWrapper {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 75px;
    height: 75px;

    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
    @media screen and (min-width: 1600px) {
      width: 90px;
      height: 90px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .contentWrapper {
    padding-right: 40px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .termek-nev {
    font-size: 14px;
    font-weight: 600;
    margin: 0;

    @media screen and (min-width: 1600px) {
      font-size: 16px;
    }
  }

  .termek-ar {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;

    @media screen and (min-width: 1200px) {
      font-size: 18px;
    }
    @media screen and (min-width: 1600px) {
      font-size: 20px;
    }
  }

  .removeIcon {
    position: absolute;
    top: 8px;
    right: 10px;
  }

  .mennyisegControls {
    position: absolute;
    bottom: 15px;
    right: 20px;
    border-radius: 10px;
    padding: 2px 5px;

    .MuiIconButton-root {
      padding: 8px;
    }

    svg {
      width: 14px;
      height: 14px;
    }
  
    .szamlalo {
      font-size: 14px;
      padding: 0;
    }
  }
}

.kosarSummary {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;

  @media screen and (max-width: 500px) {
    margin-top: 40px;
  }

  * {
    margin: 0;
  }

  .MuiButton-root.big {
    padding: 15px 25px;

    @media screen and (min-width: 1600px) {
      padding: 15px 40px;
    }
  }
}
.kosarSummary__title.MuiTypography-root {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}
.kosarSummary__amount {
  font-size: 22px;
  line-height: 1em;
  margin-right: 20px;

  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1600px) {
    font-size: 30px;
  }
}