@mixin lightScrollbar ($color, $onlyShowOnHover, $additionalTransitions...) {
  overflow-y: auto;
  overflow: overlay;
  
  @media screen and (min-width: 550px) {
    scrollbar-width: thin;
    transition: color .3s, scrollbar-color .3s, $additionalTransitions;

    &::-webkit-scrollbar {
      height: 5px;
      width: 5px;
      background: transparent;
    }
    
    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border-radius: 15px; 
      box-shadow: inset 0 0 0 10px;
    }

    @if $onlyShowOnHover {
      color: transparent;
      scrollbar-color: transparent transparent;
      
      &:hover {
        scrollbar-color: $color transparent;
        color: $color;
      }

    } @else {
      scrollbar-color: $color transparent;
      color: $color;
    } 
  }
}

@mixin appScrollbar () {
  overflow: overlay;
  
  @media screen and (min-width: 550px) {
    scrollbar-width: thin;
    scrollbar-color: #bbbbbb transparent;
    margin-right: 2px;

    &::-webkit-scrollbar {
      height: 5px;
      width: 10px;
      background: transparent;
    }
    
    &::-webkit-scrollbar-track {
      display: none;
      margin-right: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #bbbbbb;
      background-clip: padding-box;
      border-radius: 15px;
    }
    &::-webkit-scrollbar:horizontal {
      display: none;
    }
  }
}

@mixin pseudo () {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

@mixin background () {
  @include pseudo();
  position: fixed;
  z-index: -1;
}

.growIn {
  animation: growIn .2s;
  animation-fill-mode: both;
  transform-origin: center center;
}
.growOut {
  animation: growOut .2s;
  animation-fill-mode: both;
  transform-origin: center center;
}

@keyframes growIn {
  0%   { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; }
}
@keyframes growOut {
  0%   { opacity: 1; }
  100% { opacity: 0; transform: scale(0.5); }
}

.fadeInDown {
  animation: fadeInDown .2s;
  animation-fill-mode: both;
}

.fadeOutDown {
  //background: red !important;
  animation: fadeOutDown .2s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0%   { opacity: 0; transform: translateY(-15px); }
  100% { opacity: 1; }
}


@keyframes fadeOutDown {
  0%   { opacity: 1; }
  100% { opacity: 0; transform: translateY(-15px); }
}

.fadeInDownBig {
  animation: fadeInDownBig .3s;
  animation-fill-mode: both;
}

@keyframes fadeInDownBig {
  0%   { opacity: 0; transform: translateY(-60px); }
  100% { opacity: 1; }
}

.fadeInUp {
  animation: fadeInUp .2s;
  animation-fill-mode: both;
}

@for $i from 1 through 10 {
  .fadeInUp:nth-child(#{$i}n) {
      animation-delay: #{$i * 50}ms;
  }
}

@keyframes fadeInUp {
  0%   { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; }
}

.rotate {
  transition: transform .2s;

  &.in {
    transform: rotate(180deg);
  }
}