.buttonContainer {
  padding: 30px 0 40px 0;

  button {
    width: 100%;
  }
}

.MuiDialog-paper {
  margin: 20px;
}

.dialogContent {
  padding: 20px 50px;

  @media screen and (max-width: 600px) {
    padding: 10px 30px;
  }
}
.MuiDialogTitle-root.dialogTitle {
  padding: 50px 30px;
  align-self: center;
  text-align: center;

  .MuiTypography-h6 {
    font-size: 22px;

    @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
    @media screen and (min-width: 1600px) {
      font-size: 26px;
    }
  }
}

.dialogContentText {
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 600;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1600px) {
    font-size: 16px;
  }

  span {
    color: var(--color-primary);
    cursor: pointer;
  }
}
.modal__error {
  color: #f44336;
}