@use 'mixins' as *;

.rendeles {
  background: linear-gradient(180deg, var(--color-background) 80px, var(--color-background-secondary) 200px);
  margin: 0;
  padding-top: 30px;
  z-index: 1300;

  .section-label {
    color: var(--text-default-soft);

    @media screen and (max-width: 800px) {
      font-size: 22px;
    }
  }

  &::before {
    @include background();
    background: white;
    animation: fadeIn .5s;
  }
}

.rendelesGrid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 160px;
  padding-bottom: 140px;

  @media screen and (max-width: 1600px) {
    gap: 120px;
  }
  @media screen and (max-width: 1450px) {
    gap: 100px;
  }
  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }
}

.card.rendelesStepper-container {
  background-color: var(--color-background-light);
  box-shadow: none;
  padding: 20px 50px 40px 50px;

  &::before {
    background-repeat: space;
  }

  @media screen and (max-width: 500px) {
    margin: 0 -25px;
    padding: 30px;
  }
}

.rendelesStepper {
  background-color: var(--color-background-light);
  padding-left: 0;
  padding-right: 0;

  @media screen and (max-width: 500px) {
    margin: 0 -20px;
  }
}

.MuiStepLabel-label.MuiTypography-root,
.rendeles__sectionTitle {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 18px;

  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
}

.rendeles__sectionTitle {
  margin-bottom: 20px;
}

.rendelesForm {
  margin-top: 40px;

  .inputsContainer .inputsRow {
    gap: 0 30px;
  }

  .dataCard__contentGrid {
    gap: 10px 30px;
    width: fit-content;
  }
}

.rendelesForm__buttonWrapper {
  text-align: right;
  margin-top: 20px;
}

.rendelesTermekek {
  .kosarWrapper {
    margin-top: 0;
  }

  .kosar-termek {
    box-shadow: none;
    padding: 20px 0;

    .contentWrapper {
      justify-content: flex-start;
      padding-right: 50px;
    }

    .mennyisegControls {
      right: 0;
      bottom: 20px;
    }
    .removeIcon {
      right: 0;
      top: 4px
    }

    @media screen and (min-width: 1600px) {
      .mennyisegControls {
        bottom: 25px;
      }
      .removeIcon {
        top: 0;
      }
    }
  }
}

.rendelesOsszegek {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }

  p {
    font-weight: 600;
    margin: 0;
  }
}

.rendelesOsszegek__summary {
  p {
    font-weight: 700;
    font-size: 20px;
  }

  .rendelesOsszegek__total {
    font-size: 24px;
    font-weight: 800;
  }
}

.cornerBrand {
  position: absolute;
  top: 0;
  transform-origin: 0 0;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.cornerBrand__logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.MuiToggleButton-root {
  padding: 20px;
  width: 50%;
  background-color: var(--color-background);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.12);

  &.Mui-selected {
    background-color: #e3e3ff !important;
  }
}

.rendelesForm {
  .card-title {
    font-size: 18px;
    font-weight: 600 !important;
    margin: 0 0 15px 0 !important;
  }
  .card {
    @media screen and (max-width: 700px) {
      margin: 0 -10px;
    }
  }
}