@use 'mixins' as *;

.search {
  position: relative;
  flex: 1 1 40% !important;
  justify-content: center;
  z-index: 1;

  @media screen and (min-width: 1600px) {
    flex: 1 1 30% !important;
  }
  
  @media screen and (min-width: 700px) {
    .MuiIconButton-root {
      padding: 0;
      &:hover {
        background-color: unset;
      }
    }
  }
}
.searchBar {
  position: absolute;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-background-dark);
  padding: 7px 30px;
  border-radius: 30px;
  z-index: 1;
  transition: background-color .2s, min-width .2s, width .2s, transform .2s, padding .2s;
  @media screen and (max-width: 700px) {
    background-color: unset;
    padding: 0;
    right: 0;
    width: 0;
    min-width: unset;
  }
  @media screen and (max-width: 1400px) {
    transition-delay: .2s;
  }

  input::placeholder {
    font-weight: 600;
  }

  &.hidden {
    position: static;
    visibility: hidden;
    z-index: -2;
  }
}

.talalatok_wrapper {
  position: absolute;
  top: 0;
  min-width: 600px;
  width: 100%;
  background: var(--color-background);
  border-radius: 20px;
  @media screen and (max-width: 700px) {
    right: calc(-1 * var(--rightOffset) + 10px);
    width: calc(100vw - 20px);
    min-width: unset;
    top: 10px;
  }

  &:before {
    @include pseudo();
    border-radius: 20px;
    z-index: -1;
    opacity: 0;
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
    transition: opacity .2s;
    @media screen and (max-width: 1400px) {
      transition-delay: 0s;
    }
  }
}

.talalatok {
  display: flex;
  color: black;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height .2s, opacity .2s;
  @media screen and (max-width: 1400px) {
    transition-delay: 0s;
  }
}

.talalatok_inner {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  margin-top: 40px;
  border-radius: 0 0 20px 20px;
  @include lightScrollbar(rgba(0, 0, 0, 0.1), true);

  > div {
    color: var(--text-default);
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.talalatok_kategoriak {
  background-color: var(--color-background-secondary);
  padding: 30px 40px 30px 30px;
}
.talalatok_termekek {
  padding: 30px 40px;
}

@media screen and (max-width: 700px) {
  .talalatok_kategoriak, .talalatok_termekek {
    padding: 20px 25px;
  }
}

.kategoria_talalatok_wrapper {
  display: grid;
  gap: 15px;
}
.termek_talalatok_wrapper {
  display: grid;
  gap: 25px;
}

.talalat_cim.MuiTypography-root {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
  //text-transform: uppercase;
  color: #999999
}

.kategoria_talalat,
.termek_talalat {
  &:hover, &:focus {
    opacity: .7   ;
  }
}

@media screen and (max-width: 700px) {
  .kategoria_talalat:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    display: none;
  }
}

.termek_talalat a {
  display: flex;
  align-items: center;
}

.talalat_kep_wrapper {
  width: 60px;
  height: 60px;
  margin-right: 30px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.termek_talalat_adatok_ar {
  font-size: 18px;
  margin-top: 5px;
}

.search.search--open {
  .searchBar:not(.hidden) {
    background-color: var(--color-background);
    min-width: 600px;
    border-radius: 20px 20px 0px 0px;
    @media screen and (max-width: 700px) {
      min-width: unset;
      transform: translateX(calc(var(--rightOffset) - 10px));
      width: calc(100vw - 20px);
      padding: 1px 10px 0 25px;
    }
    @media screen and (max-width: 1400px) {
      transition-delay: 0s;
    }
  }
  .talalatok_wrapper:before {
    opacity: 1;
    @media screen and (max-width: 1400px) {
      transition-delay: .2s;
    }
  }
  .talalatok {
    max-height: 550px;
    opacity: 1;
    @media screen and (max-width: 1400px) {
      transition-delay: .2s;
    }
  }
}