.termekGridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px 0 80px;

  @media screen and (min-width: 470px) {
    gap: 30px;
  }  
  @media screen and (min-width: 1280px) {
    gap: 40px;
    padding-bottom: 160px;
  }
  @media screen and (min-width: 1600px) {
    gap: 50px;
  }
}

.termekCard {
  background-color: var(--color-background);
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow .2s;

  &:hover, &:active, &:focus {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
}

.termekCard__inner {
  padding: 20px;
}

.termekCard__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  flex: 0 0 80px;
  margin-right: 30px;

  @media screen and (min-width: 470px) {
    height: 100px;
    flex: unset;
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    height: 120px;
  }
  @media screen and (min-width: 1600px) {
    height: 140px;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.termekCard__content {
  width: 100%;
}

.termekCard__nev {
  margin-top: 30px;
  font-weight: 500;
}
.termekCard__ar {
  margin-top: 20px;
  font-weight: 600 !important;
}

@media screen and (max-width: 470px) {
  .termekCard__inner {
    display: flex;
    align-items: center;
  }
  .termekCard__nev {
    margin-top: 0;
  }
}